* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background:url(bg.png);
  backdrop-filter: blur(2px);
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-position: center;
  flex-direction: column;
  z-index: -1000;
}

#judul {
  color: #FFF;
  font-family: 'Courier New', Courier, monospace;
  font-size: 5rem;
  font-weight: 800;
  user-select: none;
}

#lyrics {
  color: #FFF;
  font-family: 'Courier New', Courier, monospace;
  font-size: 4rem;
  font-weight: 800;
  text-shadow:0 0 5px #000,
  0 0 10px #000,
  0 0 50px #000,
  0 0 100px #000,
  0 0 200px #000;
}

#lyrics::selection{
  color: #222;
  background: pink;
}

#btn{
  margin-top: 2rem;
  border: none;
  padding: 10px;
  width: 4rem;
  border-radius: 10%;
  font-weight: 600;
  transition: all .2s ease-in-out;
}

#btn:hover{
  color: #FFF;
  background: #222;
  box-shadow: 0 0 10px #FFF,
  0 0 50px #FFF,
  0 0 100px #FFF,
  0 0 200px #FFF,
  0 0 500px #FFF;
  transition: all .2s ease-in-out;
}

.play{
  position: absolute;
  display: flex;
  height: 150px;
  width: 100%;
  /* background: red; */
  bottom: 0%;
}

@media screen and (max-width:420px) {
  #lyrics {
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: 800;
  }
}